<head>

    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<body class="container">
<%- include('../partials/navbar'); %>

</head>


  </body>
  


<!-- {{!-- <div class="card mb-3">
  <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/slides/003.webp" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div> --}} -->

<div class="container" style="border-radius:8%;margin-top: auto;margin-bottom: auto;height: -webkit-fill-available;">
<style>
body {
  background-image: url('https://cdn.britannica.com/32/191732-050-5320356D/Human-red-blood-cells.jpg');
}
</style>
 <div class="row">
  <div class="col-sm-4" >
    <div class="card" style="border-radius: 7%;background-color: rgba(240, 179, 179, 0.219);padding-top:15px">
      <div class="card-body" style="text-align: center;">
         
        <img style="border-radius: 14px" src="https://cdn.britannica.com/32/191732-050-5320356D/Human-red-blood-cells.jpg" alt="" width="300" height="135" border-radius="70%" >

        <p class="card-text" style="text-align:center;margin-bottom:8px;font-weight:bold;">Blood-Group A</p>
     <a href="/register" class="btn btn-danger" style="min-width: 4rem; text-align: center;background: linear-gradient(10deg, rgba(255, 0, 0, 0.678) 30%, rgb(231, 231, 206) 70%);color:black;font-weight:bold;box-shadow: 0px 6px 5px black;">Go</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-4" >
    <div class="card" style="border-radius: 7%;background-color: rgba(240, 179, 179, 0.219);padding-top:15px">
      <div class="card-body" style="text-align: center;">
         

        <img style="border-radius: 14px"  src="https://healthinfo.healthengine.com.au/assets/blood-cells.jpg " alt=" " width="300" height="135">
        <p class="card-text" style="text-align:center;margin-bottom:8px;font-weight:bold;">Blood-Group A</p>
     <a href="/register" class="btn btn-danger" style="min-width: 4rem; text-align: center;background: linear-gradient(10deg, rgba(255, 0, 0, 0.678) 30%, rgb(231, 231, 206) 70%);color:black;font-weight:bold;box-shadow: 0px 6px 5px black;">Go</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-4" >
    <div class="card" style="border-radius: 7%;background-color: rgba(240, 179, 179, 0.219);padding-top:15px">
      <div class="card-body" style="text-align: center;">
         
        <img style="border-radius: 14px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-zzvRakDowr-mWloMuBpob5MFZoXXnuYmpbi6Q7o50l1P2p9gaEOClbp5IycuGpyB-sw&usqp=CAU" class="card-img-top" alt="..." width="300" height="135">
        <p class="card-text" style="text-align:center;margin-bottom:8px;font-weight:bold;">Blood-Group A</p>
     <a href="/register" class="btn btn-danger" style="min-width: 4rem; text-align: center;background: linear-gradient(10deg, rgba(255, 0, 0, 0.678) 30%, rgb(231, 231, 206) 70%);color:black;font-weight:bold;box-shadow: 0px 6px 5px black;">Go</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-4" >
    <div class="card" style="border-radius: 7%;background-color: rgba(240, 179, 179, 0.219);padding-top:15px">
      <div class="card-body" style="text-align: center;">
         
        <img style="border-radius: 14px" src="https://images.assetsdelivery.com/compings_v2/bluebay/bluebay1504/bluebay150400055.jpg" class="card-img-top" alt="..."  width="300" height="135">


        <p class="card-text" style="text-align:center;margin-bottom:8px;font-weight:bold;">Blood-Group A</p>
     <a href="/register" class="btn btn-danger" style="min-width: 4rem; text-align: center;background: linear-gradient(10deg, rgba(255, 0, 0, 0.678) 30%, rgb(231, 231, 206) 70%);color:black;font-weight:bold;box-shadow: 0px 6px 5px black;">Go</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-4" >
    <div class="card" style="border-radius: 7%;background-color: rgba(240, 179, 179, 0.219);padding-top:15px">
      <div class="card-body" style="text-align: center;">
         

        <img style="border-radius: 14px"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7Lxpjum9X_s6uGZhqBhxNuz6IjspUAATAHU7qpCQGp7oX_MkIVcoKHUvYACNx3QfUnMc&usqp=CAU" class="card-img-top" alt="..."  width="300" height="135">


        <p class="card-text" style="text-align:center;margin-bottom:8px;font-weight:bold;">Blood-Group A</p>
     <a href="/register" class="btn btn-danger" style="min-width: 4rem; text-align: center;background: linear-gradient(10deg, rgba(255, 0, 0, 0.678) 30%, rgb(231, 231, 206) 70%);color:black;font-weight:bold;box-shadow: 0px 6px 5px black;">Go</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-4" >
    <div class="card" style="border-radius: 7%;background-color: rgba(240, 179, 179, 0.219);padding-top:15px">
      <div class="card-body" style="text-align: center;">
         
           <img style="border-radius: 14px" src="https://cdn.britannica.com/32/191732-050-5320356D/Human-red-blood-cells.jpg" alt="" width="300" height="135" border-radius="70%" >

        <p class="card-text" style="text-align:center;margin-bottom:8px;font-weight:bold;">Blood-Group A</p>
     <a href="/register" class="btn btn-danger" style="min-width: 4rem; text-align: center;background: linear-gradient(10deg, rgba(255, 0, 0, 0.678) 30%, rgb(231, 231, 206) 70%);color:black;font-weight:bold;box-shadow: 0px 6px 5px black;">Go</a>
      </div>
    </div>
  </div>
</div>











