<h1>
  
</h1>
<table width="50%">
    <tr>
        <td><img src="<%= user.image %>" width="100px" height="100px" alt="<%= user.image %>"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><%= user.email %></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><%= user.phonenumber %></td>
    </tr>
    <tr>
        <td>Verified</td>

    </tr>
</table>
